{% extends 'base.html' %}

{% block content %}

<h1 class="my-playlist">My Playlist</h1>

<table>
    <thead>
    </thead>
    <tbody>
        <div class="moodbox-list">
        <li><a class="happy" id="list" href="{% url 'playlist_detail' 'h' %}">Happy Playlist</a></li>
        <li><a class="sad" id="list" href="{% url 'playlist_detail' 's' %}">Sad Playlist</a></li>
        <li><a class="sleepy" id="list" href="{% url 'playlist_detail' 'p' %}">Sleepy Playlist</a></li>
        <li><a class="emotional" id="list" href="{% url 'playlist_detail' 'e' %}">Emotional Playlist</a></li>
        </div>
    </tbody>
</table>

{% endblock %}