{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mood Music</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/ySQ53hE.png
    https://i.imgur.com/ySQ53hE.png"/>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header>
            <ul class="navbar_top">
                <li><a class="logo" href="{% url 'home' %}">Mood Music</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
                {% if user.is_authenticated %}
                <ul class="authen">
                    <li class="authenticated"><a href="{% url 'playlist_list' %}">My Playlist</a></li>&nbsp;|&nbsp;
                    <li class="welcome_user">Welcome {{user.username}}! &nbsp;||&nbsp;</li>
                    <li><a href="{% url 'logout' %}">LOG OUT</a></li>
                </ul>
            </ul>
            {% else %}
                <ul class="unauthenticated">
                    <li><a href="{% url 'signup' %}">SIGN UP</a> &nbsp;||&nbsp;</li>
                    <li><a class="nav" href="{% url 'login' %}">LOG IN</a></li>
                </ul>
            {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>COPYRIGHT &copy; 2018</footer>
</body>
</html>